.DS_Store
*.pth
*.pyc
*.pyo
*.log
*.mdb
*.vscode
*.idea
__pycache__/
zh_word_aug/
APIs/
data/dataset/
data/3rd_tools/
serve/word_detected
ocr_acc_for/
demo/word/
google_trans2csv.py
xml2pdf.py
xml2png.py
params_sample.py